<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

# Выгрузка и обзор данных для дашборда

In [1]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\thism\anaconda3\lib\site-packages (2.9.3)

In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
db_config = {'user': 'praktikum_student', # имя пользователя
            'pwd': 'Sdf4$2;d-d30pp', # пароль
            'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
            'port': 6432, # порт подключения
            'db': 'data-analyst-zen-project-db'} # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])

engine = create_engine(connection_string) 

query = ''' SELECT *
            FROM dash_visits
        '''

In [4]:
dash_visits = pd.io.sql.read_sql(query, con = engine)
dash_visits.head()

   record_id item_topic source_topic age_segment                  dt  visits
0    1040597     Деньги         Авто       18-25 2019-09-24 18:32:00       3
1    1040598     Деньги         Авто       18-25 2019-09-24 18:35:00       1
2    1040599     Деньги         Авто       18-25 2019-09-24 18:54:00       4
3    1040600     Деньги         Авто       18-25 2019-09-24 18:55:00      17
4    1040601     Деньги         Авто       18-25 2019-09-24 18:56:00      27

In [5]:
dash_visits.name = 'dash_visits'
def datas_overview(df):
    print(f"\n Общая информация о {df.name} \n")
    display(df.info())
    print(f"\n Первые 5 строк {df.name}")
    display(df.head(5))
    print(f"\n Число уникальных значений в столбцах таблицы {df.name}")
    display(df.nunique())
    print(f"\n Процент пропущенных значений в столбцах таблицы {df.name}") 
    display(round((df.isna().mean()*100),2))
    print("\n Количество дубликатов")
    display(df.duplicated().sum())
    return

In [6]:
datas_overview(dash_visits)

 Общая информация о dash_visits

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30745 entries, 0 to 30744
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   record_id     30745 non-null  int64
 1   item_topic    30745 non-null  object
 2   source_topic  30745 non-null  object
 3   age_segment   30745 non-null  object
 4   dt            30745 non-null  datetime64[ns]
 5   visits        30745 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 1.4+ MB

None

 Первые 5 строк dash_visits

   record_id item_topic source_topic age_segment                  dt  visits
0    1040597     Деньги         Авто       18-25 2019-09-24 18:32:00       3
1    1040598     Деньги         Авто       18-25 2019-09-24 18:35:00       1
2    1040599     Деньги         Авто       18-25 2019-09-24 18:54:00       4
3    1040600     Деньги         Авто       18-25 2019-09-24 18:55:00      17
4    1040601     Деньги         Авто       18-25 2019-09-24 18:56:00      27

 Число уникальных значений в столбцах таблицы dash_visits

record_id       30745
item_topic         25
source_topic       26
age_segment         6
dt                 17
visits            212
dtype: int64

 Процент пропущенных значений в столбцах таблицы dash_visits

record_id       0.0
item_topic      0.0
source_topic    0.0
age_segment     0.0
dt              0.0
visits          0.0
dtype: float64

 Количество дубликатов

0

In [8]:
dash_visits['dt'].max()

Timestamp('2019-09-24 19:00:00')

In [9]:
dash_visits['dt'].min()

Timestamp('2019-09-24 18:28:00')

In [7]:
dash_visits.to_csv('dash_visits.csv')